.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-Header{
  height: 12vh;
  display: flex;
  align-items: flex-end;
  border-bottom: 2px black solid;
}

.App-Header-Content{
  font-weight: bold;
  font-size: xx-large;
  padding-bottom: 2vh;
  padding-left: 1.5vw;
}

.section{
  flex: 1;
  display: flex;
}

.col{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2vh 2vw;
  border-right: black 2px solid;
}

.col3{
  flex: 1;
  background-color: cornflowerblue;
}

/* first column */

.bottom-col1{
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.bottom-col1 > p {
  margin-bottom: 1em;
}

.padded-input{
  margin: 2vh 0 3vh 0;
}

.poll-title{
  min-height: 43px;
    font-size: xx-large;
    font-weight: bold;
    padding: 0.080em;
    margin: 0.16em 0.084em;
}

.poll-form{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.poll-form > button {
  align-self: flex-end;
}

input[type='radio'], label{   
  vertical-align: baseline;
  padding: 10px;
  margin: 10px;
}

.radio-margin{
  margin-bottom: 2vh;
}

[type=text], [type=text] + button, .bottom-col1 > button, .poll-form > button{
    padding: 0.2em;
    margin: 0.5em 0.2em;
    -moz-box-sizing: content-box; 
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 3vh;
}

[type=text] {
  width: 80%;
}

[type=text] + button{
  width: 10%;
}

.bottom-col1 > button, .poll-form > button{
  width: 20%
}

